bin
obj
.vscode
*.db

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


DatingApp.SPA/node_modules/font-awesome/less/mixins.less
DatingApp.SPA/node_modules/bootstrap/CHANGELOG.md
DatingApp.SPA/node_modules/bootstrap/Gruntfile.js
DatingApp.SPA/node_modules/bootstrap/LICENSE
DatingApp.SPA/node_modules/bootstrap/README.md
DatingApp.SPA/node_modules/bootstrap/package.json
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap.css
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap-theme.css
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap-theme.css.map
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap-theme.min.css
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap-theme.min.css.map
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap.css.map
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap.min.css
DatingApp.SPA/node_modules/bootstrap/dist/css/bootstrap.min.css.map
DatingApp.SPA/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
DatingApp.SPA/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
DatingApp.SPA/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
DatingApp.SPA/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
DatingApp.SPA/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
DatingApp.SPA/node_modules/bootstrap/dist/js/bootstrap.js
DatingApp.SPA/node_modules/bootstrap/dist/js/bootstrap.min.js
DatingApp.SPA/node_modules/bootstrap/dist/js/npm.js
DatingApp.SPA/node_modules/bootstrap/fonts/glyphicons-halflings-regular.eot
DatingApp.SPA/node_modules/bootstrap/fonts/glyphicons-halflings-regular.svg
DatingApp.SPA/node_modules/bootstrap/fonts/glyphicons-halflings-regular.ttf
DatingApp.SPA/node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff
DatingApp.SPA/node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff2
DatingApp.SPA/node_modules/bootstrap/grunt/.jshintrc
DatingApp.SPA/node_modules/bootstrap/grunt/bs-commonjs-generator.js
DatingApp.SPA/node_modules/bootstrap/grunt/bs-glyphicons-data-generator.js
DatingApp.SPA/node_modules/bootstrap/grunt/bs-lessdoc-parser.js
DatingApp.SPA/node_modules/bootstrap/grunt/bs-raw-files-generator.js
DatingApp.SPA/node_modules/bootstrap/grunt/change-version.js
DatingApp.SPA/node_modules/bootstrap/grunt/configBridge.json
DatingApp.SPA/node_modules/bootstrap/grunt/npm-shrinkwrap.json
DatingApp.SPA/node_modules/bootstrap/grunt/sauce_browsers.yml
DatingApp.SPA/node_modules/bootstrap/js/affix.js
DatingApp.SPA/node_modules/bootstrap/js/alert.js
DatingApp.SPA/node_modules/bootstrap/js/button.js
DatingApp.SPA/node_modules/bootstrap/js/carousel.js
DatingApp.SPA/node_modules/bootstrap/js/collapse.js
DatingApp.SPA/node_modules/bootstrap/js/dropdown.js
DatingApp.SPA/node_modules/bootstrap/js/modal.js
DatingApp.SPA/node_modules/bootstrap/js/popover.js
DatingApp.SPA/node_modules/bootstrap/js/scrollspy.js
DatingApp.SPA/node_modules/bootstrap/js/tab.js
DatingApp.SPA/node_modules/bootstrap/js/tooltip.js
DatingApp.SPA/node_modules/bootstrap/js/transition.js
DatingApp.SPA/node_modules/bootstrap/less/alerts.less
DatingApp.SPA/node_modules/bootstrap/less/badges.less
DatingApp.SPA/node_modules/bootstrap/less/bootstrap.less
DatingApp.SPA/node_modules/bootstrap/less/breadcrumbs.less
DatingApp.SPA/node_modules/bootstrap/less/button-groups.less
DatingApp.SPA/node_modules/bootstrap/less/buttons.less
DatingApp.SPA/node_modules/bootstrap/less/carousel.less
DatingApp.SPA/node_modules/bootstrap/less/close.less
DatingApp.SPA/node_modules/bootstrap/less/code.less
DatingApp.SPA/node_modules/bootstrap/less/component-animations.less
DatingApp.SPA/node_modules/bootstrap/less/dropdowns.less
DatingApp.SPA/node_modules/bootstrap/less/forms.less
DatingApp.SPA/node_modules/bootstrap/less/glyphicons.less
DatingApp.SPA/node_modules/bootstrap/less/grid.less
DatingApp.SPA/node_modules/bootstrap/less/input-groups.less
DatingApp.SPA/node_modules/bootstrap/less/jumbotron.less
DatingApp.SPA/node_modules/bootstrap/less/labels.less
DatingApp.SPA/node_modules/bootstrap/less/list-group.less
DatingApp.SPA/node_modules/bootstrap/less/media.less
DatingApp.SPA/node_modules/bootstrap/less/mixins.less
DatingApp.SPA/node_modules/bootstrap/less/modals.less
DatingApp.SPA/node_modules/bootstrap/less/navbar.less
DatingApp.SPA/node_modules/bootstrap/less/navs.less
DatingApp.SPA/node_modules/bootstrap/less/normalize.less
DatingApp.SPA/node_modules/bootstrap/less/pager.less
DatingApp.SPA/node_modules/bootstrap/less/pagination.less
DatingApp.SPA/node_modules/bootstrap/less/panels.less
DatingApp.SPA/node_modules/bootstrap/less/popovers.less
DatingApp.SPA/node_modules/bootstrap/less/print.less
DatingApp.SPA/node_modules/bootstrap/less/progress-bars.less
DatingApp.SPA/node_modules/bootstrap/less/responsive-embed.less
DatingApp.SPA/node_modules/bootstrap/less/responsive-utilities.less
DatingApp.SPA/node_modules/bootstrap/less/scaffolding.less
DatingApp.SPA/node_modules/bootstrap/less/tables.less
DatingApp.SPA/node_modules/bootstrap/less/theme.less
DatingApp.SPA/node_modules/bootstrap/less/thumbnails.less
DatingApp.SPA/node_modules/bootstrap/less/tooltip.less
DatingApp.SPA/node_modules/bootstrap/less/type.less
DatingApp.SPA/node_modules/bootstrap/less/utilities.less
DatingApp.SPA/node_modules/bootstrap/less/variables.less
DatingApp.SPA/node_modules/bootstrap/less/wells.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/alerts.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/background-variant.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/border-radius.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/buttons.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/center-block.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/clearfix.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/forms.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/gradients.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/grid.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/grid-framework.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/hide-text.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/image.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/labels.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/list-group.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/nav-divider.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/nav-vertical-align.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/opacity.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/pagination.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/panels.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/progress-bar.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/reset-filter.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/reset-text.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/resize.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/responsive-visibility.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/size.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/tab-focus.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/table-row.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/text-emphasis.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/text-overflow.less
DatingApp.SPA/node_modules/bootstrap/less/mixins/vendor-prefixes.less
DatingApp.SPA/node_modules/font-awesome/.npmignore
DatingApp.SPA/node_modules/font-awesome/HELP-US-OUT.txt
DatingApp.SPA/node_modules/font-awesome/README.md
DatingApp.SPA/node_modules/font-awesome/package.json
DatingApp.SPA/node_modules/font-awesome/css/font-awesome.css
DatingApp.SPA/node_modules/font-awesome/css/font-awesome.css.map
DatingApp.SPA/node_modules/font-awesome/css/font-awesome.min.css
DatingApp.SPA/node_modules/font-awesome/fonts/FontAwesome.otf
DatingApp.SPA/node_modules/font-awesome/fonts/fontawesome-webfont.eot
DatingApp.SPA/node_modules/font-awesome/fonts/fontawesome-webfont.svg
DatingApp.SPA/node_modules/font-awesome/fonts/fontawesome-webfont.ttf
DatingApp.SPA/node_modules/font-awesome/fonts/fontawesome-webfont.woff
DatingApp.SPA/node_modules/font-awesome/fonts/fontawesome-webfont.woff2
DatingApp.SPA/node_modules/font-awesome/less/animated.less
DatingApp.SPA/node_modules/font-awesome/less/bordered-pulled.less
DatingApp.SPA/node_modules/font-awesome/less/core.less
DatingApp.SPA/node_modules/font-awesome/less/fixed-width.less
DatingApp.SPA/node_modules/font-awesome/less/font-awesome.less
DatingApp.SPA/node_modules/font-awesome/less/icons.less
DatingApp.SPA/node_modules/font-awesome/less/larger.less
DatingApp.SPA/node_modules/font-awesome/less/list.less
DatingApp.SPA/node_modules/font-awesome/less/path.less
DatingApp.SPA/node_modules/font-awesome/less/rotated-flipped.less
DatingApp.SPA/node_modules/font-awesome/less/screen-reader.less
DatingApp.SPA/node_modules/font-awesome/less/stacked.less
DatingApp.SPA/node_modules/font-awesome/less/variables.less
DatingApp.SPA/node_modules/font-awesome/scss/_animated.scss
DatingApp.SPA/node_modules/font-awesome/scss/_bordered-pulled.scss
DatingApp.SPA/node_modules/font-awesome/scss/_core.scss
DatingApp.SPA/node_modules/font-awesome/scss/_fixed-width.scss
DatingApp.SPA/node_modules/font-awesome/scss/_icons.scss
DatingApp.SPA/node_modules/font-awesome/scss/_larger.scss
DatingApp.SPA/node_modules/font-awesome/scss/_list.scss
DatingApp.SPA/node_modules/font-awesome/scss/_mixins.scss
DatingApp.SPA/node_modules/font-awesome/scss/_path.scss
DatingApp.SPA/node_modules/font-awesome/scss/_rotated-flipped.scss
DatingApp.SPA/node_modules/font-awesome/scss/_screen-reader.scss
DatingApp.SPA/node_modules/font-awesome/scss/_stacked.scss
DatingApp.SPA/node_modules/font-awesome/scss/_variables.scss
DatingApp.SPA/node_modules/font-awesome/scss/font-awesome.scss
